
*{margin: 0;}
*::before,
*::after {
    box-sizing: border-box;
}



body {
    background-image: url(/images/background1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    
          }


.logo {
    max-width: 100%;
    text-align: center;
    
}

.header { 
    display: flex;
    max-width: 100%;
    font-family: 'Aldrich', sans-serif;
    
}


.nav_list {
    display: flex;
    max-width: 100%;
    padding: 30px;
    justify-content: space-between;
    font-family: 'Aldrich',sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    background-color: rgb(30, 30, 30);

    
}
@media screen and (max-width: 758px) 
{.nav_list {font-size: 16px;
    overflow: hidden;
    
}
    
}

@media screen and (max-width: 758px) 
{main {display: flex;
    flex-direction: column;
    overflow: hidden;
    
    
}
    
}

main{
    background-color: rgb(30, 30, 30);
    background-size: cover;
    width: 100%;
    margin: auto;
    height: 600px;
    padding: 10px; 
    
    

}


h1 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    
    

}

@media screen and (max-width: 758px) 
{.container 
    {display: flex;
flex-direction: row;
padding: 10px;
background-color: rgb(30, 30, 30);
overflow: scroll;



}
    
}

.container {
    background-color: rgb(30, 30, 30);
    text-align: center;
    margin-top: 60px;
    
 }


    
    
 @media screen and (max-width: 758px) 
 {footer 
    {   display: flex;
        color: white;
        font-family: 'Aldrich',sans-serif;
        text-align: center;
        background-color: rgb(30, 30, 30);
        position: relative;
        
       
                
        
}
     
 }

 @media screen and (max-width: 758px) 
 {i.fa-facebook
    {   font-size: 50px;
}
     
 }
 @media screen and (max-width: 758px) 
 {i.fa-instagram
    {   font-size: 50px;
}
     
 }
 @media screen and (max-width: 758px) 
 {i.fa-twitter
    {   font-size: 50px;
}
     
 }


footer {
    
    display: flex;
    margin-top: 200px;
    background-color: rgb(30, 30, 30);  
    color: white;
    font-family: 'Aldrich',sans-serif;
    font-size: 30px;
    text-align: center;

    
  

}

h2 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: right;
    margin-top: 200px;
    margin-left: 900px;
    margin-right: 100px;
    

} 

@media screen and (max-width: 758px) 
{.logo2
   {   display: flex;
    flex-direction: column;
    scale: 60%;
   
    
    
      

      }
    }
.logo2 {
    position: absolute;
    left: 95px;
    top: 370px;
height: 350px;
text-align: left;
}





h3 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    margin-top: 300px;
    margin-left: 900px;
    margin-right: 100px;

}



h4 {
    background-color: rgb(30, 30, 30);
    width: 100%;
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
   

}

@media screen and (max-width: 758px) 
{.NewReleases
   {   display: flex;
      flex-direction: row;
      
      
       
}
    
}

.NewReleases {
    text-align: center;


}  

@media screen and (max-width: 758px) 
{.TodaysDeal
   {   display: flex;
      flex-direction: row;
      
      
      }
    }

.TodaysDeal {
    background-image: url(/images/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    height: 440px;
    padding: 10px;
    position: absolute;
    top: 1300px;
    

    

}

@media screen and (max-width: 758px) 
{.PopularReleases
   {   display: flex;
      flex-direction: row;
      
      

      }
    }

.PopularReleases {
    background-image: url(/images/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 470px;
    padding: 10px;
    text-align: center;

}

@media screen and (max-width: 758px) 
{.indiegames
   {   display: flex;
      flex-direction: row;
      max-width: 100%;

      }
    }

.indiegames {
    background-image: url(/images/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 470px;
    padding: 10px;
    text-align: center;

}

@media screen and (max-width: 758px) 
{.footergames { display: flex;
    color: white;
    font-family: 'Aldrich',sans-serif;
    text-align: center;
    background-color: rgb(30, 30, 30);
    position: relative;
    
}
    
}
.footergames {
    margin-top: 1750px;
    background-color: rgb(30, 30, 30);  
    color: white;
    font-family: 'Aldrich',sans-serif;
    font-size: 30px;
    text-align: center;
}

.product
{
    margin-left: 140px;
    margin-top: 90px;
    
}

h5 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    bottom: -51px;
    margin-left: 600px;
    margin-right: 300px;

} 

h6 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    background-image: url(/images/Rectangle\ 22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    margin-left: 900px;
}

h7 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 1350px; top: 800px;

}

.cart {
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
}

p {
    background-image: url(/images/Rectangle\ 10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1725px;
    height: 500px;
    padding: 10px;
    text-align: center;
    margin-left: -7px;
    margin-top: 860px;
}
.cart2 {
    text-align: center;
    position: absolute;
    left: 735px;
    top: 920px;
       

}
h8 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    right: -400px;

}
.logo3 {
    position: absolute;
    right: 1100px;
    top: -340px;
height: 350px;
text-align: left;
}

.footercart {
    background-color: rgb(30, 30, 30);  
    color: white;
    font-family: 'Aldrich',sans-serif;
    font-size: 30px;
    text-align: center;
   position: absolute;
   margin-top: 400px;
   width: 100%;
 }
 